/* Basic styling for the navbar */
.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: rgb(32, 2, 2);
  margin: 0 10px;
  font-size: 16px;
}

.logo {
  height: 80px;
}

.logout {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar-right {
  flex: 2;
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
}


.navbar-right ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-right li {
  margin: 0 15px; /* Space between links */
}

.navbar-right a, .navbar-right button {
  text-decoration: none;
  color: #333; /* Default text color */
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.navbar-right a:hover, .navbar-right button:hover {
  color: #007bff; /* Highlight color */
  background-color: rgba(0, 123, 255, 0.1); /* Light background on hover */
  border-radius: 4px; /* Rounded corners for the background */
}

.navbar-right span {
  font-weight: bold;
}

/* Styling for the style bar beneath the navbar */
.navbar-style-bar {
  height: 5px;
  background-color: #FF9800; /* Customize the color as per your preference */
  box-shadow: 0 4px 2px -2px gray; /* Optional shadow for better look */
}
